<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
</head>
<body>
    <form action="">
        {{sf}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form action="">
        {% for field in sf %}
        {% comment %} {{field.label_tag}} {% endcomment %}
        {{field}}
        {% endfor %} 
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>